[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.4"
djangorestframework = "3.12.4"
psycopg2-binary = "2.9.1"
coreapi = "2.3.3"
model-mommy = "2.0.0"
coverage = "5.5"
flake8 = "3.9.2"

[dev-packages]

[requires]
python_version = "3.9"
